*.swp
package-lock.json
**/__pycache__/
.pytest_cache
.venv
*.egg-info
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# Local models. Enable, if too heavy to package
# build_local_llm

# Local testing
_staging_local_testing
build_bedrock_mcp/demo.db
